.faq {
    width: 60%;
    margin-left: 20%;
}

.faq h1 {
    text-align: center;
}

.faq .question {
    font-weight: bold;
    font-size: 1.75em;
    margin-top: 1em;
}

.faq .answer {
    font-size: 1.25em;
}