.suppliersForm {
    overflow-x: hidden;
}

.form-style-4{
	width: 60%;
    margin-left: calc(20% - 60px);
	font-size: 16px;
	background: #324960;
	padding: 30px 30px 15px 30px;
    margin-bottom: 2%;
}
.form-style-4 input[type=submit],
.form-style-4 input[type=button],
.form-style-4 input[type=text],
.form-style-4 input[type=email],
.form-style-4 textarea,
.form-style-4 label
{
	font-family: "Poppins";
	font-size: 16px;
	color: #fff;

}

.form-style-4 input[type=submit] {
    width: 300px;
}

.form-style-4 label {
	display:block;
	margin-bottom: 10px;
}

.form-style-4 label > span{
	display: inline-block;
	width: 300px;
}
.form-style-4 input[type=text],
.form-style-4 input[type=email] 
{
	background: transparent;
	border: none;
	border-bottom: 1px dashed #83A4C5;
	width: 300px;
	outline: none;
	padding: 0px 0px 0px 0px;
}

.form-style-4 textarea{
	padding: 0px 0px 0px 0px;
	background: transparent;
	outline: none;
	border-bottom: 1px dashed #83A4C5;
    border-top: 1px dashed #83A4C5;
    border-left: 1px solid #83A4C5;
    border-right: 1px solid #83A4C5;
	width: 300px;
	overflow: hidden;
	resize:none;
	height:20px;
}

.form-style-4 textarea:focus, 
.form-style-4 input[type=text]:focus,
.form-style-4 input[type=email]:focus,
.form-style-4 input[type=email] :focus
{
	border-bottom: 1px dashed #D9FFA9;
}

.form-style-4 textarea:focus {
    border-top: 1px dashed #D9FFA9;
}

.form-style-4 input[type=button]{
	background: #576E86;
	border: none;
	padding: 8px 10px 8px 10px;
	border-radius: 5px;
	color: #A8BACE;
}
.form-style-4 input[type=submit]:hover,
.form-style-4 input[type=button]:hover{
    background: #43D1AF;
}

.form-style-4 textarea {
    height: 250px;
    border-bottom: 1px dashed #83A4C5;
    border-top: 1px dashed #83A4C5;
}

.form-style-4 input[type=submit] {
    background: #576E86;
    color: white;
    padding: 8px 10px 8px 10px;
	border-radius: 5px;
    border: none;
}